/* nav style */
#sourcererLogo {
    width: 45%;
    height: auto;
    margin-top: 25%;
}
nav div .btn-floating {
    margin: 1em 0.5em 1em 0.5em
}


/*Stil za hero image div*/
#heroimage{
  width: 100%;
  margin-top: 70px;
}

#heroimage img {
  width: 100%;
}
/* fillter buttons  */
.filter-buttons div {
  margin-top: 1em;
}

/* projectCard style */
.card-reveal p {
    text-align: justify;
  } 

.projectCard {
    display: none;
  }

.show {
  display: block;
}

/* card image size problem fixed */
.card-image img {
  min-height: 200px;
  max-height: 200px;
  object-fit: cover;
}
.card-image img.materialized.active{
  max-height: none;
  object-fit: none;
}

.projectBadges span {
 margin: 0.5em;
}


/* parallay style */
.parallax-container {
height: 20vw
}

/* footer style */
.footer-contacts a{
  text-decoration: none;
  font-size: 14px;
  color: white;
}

.footer-contacts a:hover,
.footer-contacts a:active {
  color: #42A5F5;
}

#sourcererLogoFooter {
  width: 12px;
}
