p {
  text-align: justify;
}


/* nav style */
#sourcererLogo {
    width: 45%;
    height: auto;
    margin-top: 25%;
}
nav div .btn-floating {
    margin: 1em 0.5em 1em 0.5em
}


/*Hiro image style*/
#heroimage{
  width: 100%;
  margin-top: 70px;
}
#heroimage img {
  width: 100%;
}


/*Tabs style*/

.tabs .tab a {
  color:black;
}

.tabs .tab a:hover, 
.tabs .tab a.active {
  color: #42A5F5;
}

.tabs .indicator {
  background-color: #42A5F5;
  color: #42A5F5;
}

.tabs .tab a:focus, 
.tabs .tab a:focus.active {
  background-color: rgba(66,165,245,0.01);
}



/* fillter buttons  */
.filter-buttons div {
  margin-top: 1em;
}
#bootstrapIcon{
  font-size: 2em;
}

/* projectCard style */
.card-reveal p {
    text-align: justify;
  } 
.projectCard {
    display: none;
  }
.show {
  display: block;
}

/* card image size problem fixed */
.card-image img {
  min-height: 200px;
  max-height: 200px;
  object-fit: cover;
}
.card-image img.materialized.active{
  max-height: none;
  object-fit: none;
}

/*project badges style*/
.projectBadges span {
 margin: 0.5em;
}


/* parallay style */
.parallax-container {
height: 15vw
}

/* footer style */
.footer-contacts a{
  text-decoration: none;
  font-size: 14px;
  color: white;
}

.footer-contacts a:hover,
.footer-contacts a:active {
  color: #42A5F5;
}

#sourcererLogoFooter {
  width: 12px;
}

@media only screen and (max-width: 600px) {
  /* parallay style */
.parallax-container {
  height: 30vw
  }
}

@media only screen and (max-width: 460px) {
  /* parallay style */
.parallax-container {
  height: 40vw
  }


  /*hiro image*/
  #heroimage img {
    position: relative;
    width: 180%;
    left:-40%;
  }
}