*{
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .App {
    text-align: center;
  }
  
  body{
    padding: 0%;
    margin: 0%;
  }
  
  #container {
    width: 90%;
    margin: auto auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:auto;
    grid-gap: 5px;
  }
  
  .heading {
    background-color: #c0c0c0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding: 1vw;
  }
  
  /*way to resize textarea is to follow containing div*/
  textarea {
    width: 100%;
    height: 100%;
    resize: none;
    outline: none;
    overflow: auto;
    border: none;
  }
  
  .buttons{
    justify-self: end;
  }
  
  button{
    border:none;
    background-color: white;
    padding: 10px;
  }